:root {
  --color-primary: #000;
  --color-secondary: #c49ccf;
  --color-pink: #f2d6e4;
  --color-white: #fff;

  --font-primary: "Raleway", sans-serif;
}

html {
  font-family: var(--font-primary);
}
