.current-page {
  font-weight: 600;
  background-color: var(--color-accent);
}

.page {
  font-weight: 100;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: .25em .5em;
}

li:hover {
  background-color: var(--color-accent);
}
