.footer {
  background-color: var(--color-primary);
}

.footer p {
  color: var(--color-accent);
}

@media only screen and (min-width: 38em) {

  .copyright {
    order: -1;
    text-align: right;
  }

  .social {
    text-align: left;
  }

}
